server:
  host:
    ip: 177.10.0.8
    hostname: server-001.domain.tpl
    subnet:
      ip: 79.48.232.8
      maske: 255.255.255.248
      broadcast: 79.48.232.15
      net: 177.10.0.0
      gateway: 79.48.232.14
      dns: '213.133.98.98 213.133.99.99 213.133.100.100'
      ips:
        - 79.48.232.9
        - 79.48.232.10
        - 79.48.232.11
        - 79.48.232.12
        - 79.48.232.13
    ssh_authorized_keys:
      - ssh-dss AAAAB3NzaC1kc3MAAAEBALbAt+5Dk2dXkJNPqAlab1nG/zPam8Gd/1cYiT9beprsxO+q8X6EpAG4R3KZ0Myi4rVu0Lqtmuo/wotiUpsSqH60q82IWVjB8uVRS6twMrayh2FVTcXxRXp0enxZfyKswCYBKk66Nfl0n4279iKhW4chBqtbo5nwwECYuas0qVZn/XPSMOKklpl/Gk/MEwJ7i2F8kYXpcz== michael@voigt
    tools:
      munin:
        htpasswd: Munin:1$vftlsa29t6M
